@import '../custom-variables';

.vertical-scroll-auto {
    flex-grow: 1;
    overflow-y: auto;
}

.detail-pane-container {
    display: flex;
    flex-direction: column;
    & > .card-title {
        margin-left: $gutter-size;
    }
}

div.resizeVirtualScrollDataGrid div.widget-gallery div.widget-gallery-content {
    overflow-x: hidden;
}

div.resizeVirtualScrollDataGrid div.pagination-bar {
    margin-bottom: 0px;
}
