@import '../custom-variables';

.vertical-scroll-auto {
    flex-grow: 1;
    overflow-y: auto;
}

.detail-pane-container {
    display: flex;
    flex-direction: column;
    & > .card-title {
        margin-left: $gutter-size;
    }
}

div.resizeVirtualScrollDataGrid div.widget-gallery div.widget-gallery-content {
    overflow-x: hidden;
}

div.resizeVirtualScrollDataGrid div.pagination-bar {
    margin-bottom: 0px;
}

// Custom variable and CSS property for ResizeVirtualDataGrid
$resize-virtualscroll-datagrid-header-margin-correction: 56;
// CSS custom property (runtime, accessible from JavaScript!)
:root {
  --resize-virtualscroll-datagrid-header-margin-correction: #{$resize-virtualscroll-datagrid-header-margin-correction};
}

