.aiden-jsonviewer{
    border: 1px solid #00505B;
    max-height: 400px;
    width: 715px;
    overflow-x: scroll;
    overflow-y: scroll;
    ._oLqym{
        color: #00505B;
        font-size: 24px;
    }
    ._3uHL6{
        color:#00505B;
        font-weight: normal;
    }


    ._2bkNM{
        font-family: "dejavu sans mono", "droid sans mono", consolas, monaco, "lucida console", "courier new", courier, monospace, sans-serif;
        font-size: 10pt;
        color: #1a1a1a;
        background-color: white;
        padding: 0px 25px;
        line-height: 2em;
        ._vGjyY{
            color: green;
        }
        ._3zQKs{
            color: orange
        }
    }
}