button.btn.btn-no-background,
button.btn.btn-no-background:focus,
button.btn.btn-no-background:visited,
button.btn.btn-no-background:any-link,
button.btn.btn-no-background:active {
        background-color: transparent;
    border: none;
    &:hover {
        background-color: transparent;
        border: none;
        color: $link-hover-color;
    }
}